:root {
  --clr-nav-icon-mercury: #def4fc;
  --clr-nav-icon-venus: #f7cc7f;
  --clr-nav-icon-earth: #545bfe;
  --clr-nav-icon-mars: #ff6a45;
  --clr-nav-icon-jupiter: #ecad7a;
  --clr-nav-icon-saturn: #fccb6b;
  --clr-nav-icon-uranus: #65f0d5;
  --clr-nav-icon-neptune: #497efa;

  --clr-toggle-mercury: #419ebb;
  --clr-toggle-venus: #eda249;
  --clr-toggle-earth: #6d2ed5;
  --clr-toggle-mars: #d14c32;
  --clr-toggle-jupiter: #d83a34;
  --clr-toggle-saturn: #cd5120;
  --clr-toggle-uranus: #1ec1a2;
  --clr-toggle-neptune: #2d68f0;

  /*FONTS*/

  --ff-spartan: "Spartan", sans-serif;
  --ff-antonio: "Antonio", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("./assets/background-stars.svg"), #070724;
}

button {
  font-size: inherit;
}
